<div class="main">

  <mat-toolbar [ngClass]="toolbarOn ? 'showToolbar' : 'hideToolbar'">
    <button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    <div class="title">
      <a routerLink='/home'>
      <span>T</span>
      </a>
    </div>
    <span class="hide" *ngIf="!TopMenuOn"></span>
    <app-menu *ngIf="TopMenuOn"></app-menu>
  </mat-toolbar>

  <mat-sidenav-container autosize="true">
    <mat-sidenav #sidenav="matSidenav">
      <button class="sidenav" routerLink='/home' (click)="clickSidenavMenu();">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button class="sidenav" routerLink='/portfolio' (click)="clickSidenavMenu();">
          <mat-icon>perm_contact_calendar</mat-icon>
          <span>Portfolio</span>
      </button>
      <button class="sidenav" routerLink='/about' (click)="clickSidenavMenu();">
          <mat-icon>info</mat-icon>
          <span>About</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z4">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
