main {
  margin: auto;
  padding: 0;
  text-align: center;
  width: 100%;
  /* max-width: 1024px;
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  box-shadow: 0px 5px 10px gray; */
  /* offset-x | offset-y | blur-radius | spread-radius | color */
}

mat-toolbar {
  -webkit-transition: all .5s ease-in-out !important;
	-moz-transition: all .5s ease-in-out !important;
	-o-transition: all .5s ease-in-out !important;
	transition: all .5s ease-in-out !important;
	top:0px;
  /* background-color: rgba(60, 60, 60, 1); */
  background-color: rgba(0, 0, 0, 0);
  display: inline-flex;
  justify-content: space-between;
  /* border-bottom: 1px solid white; */
}

.hideToolbar {
  position: fixed;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.showToolbar{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}

.hide{
  color: rgba(0, 0, 0, 0);
  cursor: normal;
  height: 40px;
  width: 40px;
}

div.title {
  margin-left: 16px;
}

div.title a:hover {
  color: #9e829c;
  transition-duration: 0.4s;
}

app-menu {

}

mat-sidenav {
  /* margin: 16px; */
  width: 200px;
  border-right: none;
  background-color: black;
  /* border-radius: 10px; */
  /* padding: 10px; */
  text-align: center;
}

mat-sidenav-container {
  height: 100vh;
  position: absolute;
  /* height: 100vh; */
  width: 100%;
  background-color: black;
}

mat-sidenav-content {
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
}

.content {
  /* height: calc(100vh - 98px); */
  margin: 16px;
  width: 100%;
  height: calc(100vh - 16px);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* font-size: 2rem; */
  background-color: black;
}

button {
  background-color: rgba(0, 0, 0, 0); /* #3B3B68 Space Cadet */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

button.sidenav {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.sidenav mat-icon {
  margin-right: 8px;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  /* background-color: rgba(0, 0, 0, 0.5); */
}


@media only screen and (max-width: 1024px) {
  main {
    border: none;
  }
}
