<div class="homeMain">
  <p class="time">
    {{ this.time$ | async }}
  </p>
  ⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠋⠄<br>
  ⢿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠛⠋⣁⣀⡠⡀⠄⠉⠙⠛⠿⢿⣿⣿⡿⠙⠁⠄⠄⣠<br>
  ⠄⠈⠛⠛⡿⠛⠛⠉⠄⠄⣠⣾⣿⣿⣿⣿⣿⣧⣄⢀⡀⣀⠈⠥⣤⢀⠄⠄⣼⣿<br>
  ⣄⠄⠄⠄⣇⣀⣤⣤⣴⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣿⣿⣅⠄⢈⡬⢠⣾⣿⠟<br>
  ⣿⣷⡄⠰⣾⣿⣿⣿⣿⣿⣿⣿⣟⣿⣿⣿⣿⡿⠿⠿⠿⣿⣿⣧⡘⠃⠘⣿⣟⠄<br>
  ⣉⠻⠃⠈⠟⠉⠁⣤⡙⢻⣿⣿⣿⣷⣿⣿⡟⠁⣴⠂⠄⠄⠈⣿⣷⡄⠄⠈⢓⣛<br>
  ⣿⣤⣤⠸⡆⠄⠄⠈⣳⣾⣿⠿⠿⠿⢿⣿⣷⣤⣯⠄⠄⠄⢀⣿⣿⣿⠄⠐⣿⣿<br>
  ⣿⣿⣿⡇⠨⣀⣀⣴⣿⣿⠁⠄⠄⠄⠄⣿⣿⣿⣿⣷⣦⣶⣾⣿⣿⣿⣴⡆⢹⣿<br>
  ⣿⣿⣿⣷⠄⠉⠛⢿⣿⣿⡀⠄⠄⠄⣷⣿⣿⣿⣿⡿⠇⠄⣰⣿⣿⣿⠚⢣⣿⣿<br>
  ⠉⠻⢿⣿⠄⣀⣤⡄⠙⠛⠛⠒⠄⠒⠙⠛⠛⠛⠉⢀⣴⣾⣿⣿⣿⠇⠄⢀⠙⢿<br>
  ⠄⣶⡶⠄⠄⢻⣿⣷⣄⣶⣶⣶⣤⣤⡶⣶⠾⣿⣶⣿⣿⣿⣿⣿⡃⣀⣴⣿⡷⢸<br>
  ⢰⣿⣧⠄⠠⣤⡙⢿⣿⣿⣄⣀⣉⣀⣀⣴⣿⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⠟⢁⡼<br>
  ⢸⣿⠿⠄⡦⠈⠛⠿⣭⣿⣟⠿⠿⠿⠿⢿⣿⣿⠿⠖⠈⠉⠉⠁⠄⠉⠁⠄⠻⠘<br>
</div>
