<div class="homeMain">
  <p class="time">
    {{ this.time$ | async }}
  </p>
  <div class="aboutHome">
    <p>Here are some weird things I usually learn all over the place.</p>
  </div>
  <div class="GIWAWA">
    <pre>
      {{giwawa}}
    </pre>
    <p>GIWAWA</p>
  </div>

  <div class="illustrate">
    <p>
      Obfuscate code is cool!<br>
      For example...<br><br><br>
    </p>
  </div>

  <div class="codetitle">
    <p>Python to print 'Hello world!'</p>
  </div>
  <div class="codeblock">
    <span>helloworld.py</span>
    <div class="mainblock">
      <pre>
        <code>
          {{pyHelloWorld}}
        </code>
      </pre>
    </div>
  </div>
  <div class="codetitle">
    <p>and javascript to alert 'Hello World'</p>
  </div>
  <div class="codeblock">
    <span>helloworld.js</span>
    <div class="mainblock">
      <pre>
        <code>
          {{jsHelloWorld}}
        </code>
      </pre>
    </div>
  </div>

  <div class="illustrate">
    <p>
      Self-modifying code (SMC) is interesting, too!<br>
    </p>
  </div>

  <div class="codetitle">
    <p>Is this a SMC? I have doubts about it.</p>
  </div>
  <div class="codeblock">
    <span>smc.py</span>
    <div class="mainblock">
      <pre>
        <code>
          {{pySmc}}
        </code>
      </pre>
    </div>
  </div>
</div>
